.feedtile
  = link_to(image_tag(feed.image), feed) if feed.image
  %br
  = link_to "#{feed.title}", feed
  - if current_user && current_user.is_subscribed?(feed.id) != true
    = link_to 'subscribe', feed, method: :subscribe
