/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, html {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

#topbar a {
  color: #f7f7f7;
}

#topbar a:hover {
  color: #af0000;
}

a:hover {
  color: #af0000;
}

.container {
  margin: 0px;
  padding: 0px;
  position:relative;
  min-height:100%;
  width:100%;
  position:relative;
  display:inline-block;
  font-size: 12px;
}

#topbar {
  background-color: #1a1a1a;
  width: 100%;
  height: 30px;
  padding: 20px 15px 5px 15px;
  position: fixed;
  z-index: 1000;
}

#logo {
  width: 200px;
}

#search {
  float: right;
  margin-right: 40px;
}

#bookmark {
  height: 10px;
}

#trash {
  height: 10px;
}

#edit {
  height: 10px;
}

#original {
  height: 10px;
}

#unread {
  height: 10px;
}

#subscribe {
  height: 10px;
}

.subscribeicon {
  margin: auto;
}

#sidebar {
  padding-top: 5px;
  padding-left: 10px;
  background-color: #f7f7f7;
  width: 20%; 
  height: 100%;
  float: left;
  border-right: 1px solid #af0000;
  margin-right: 20px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  z-index: 9999;
}

#reader {
  top: 50px;
  min-height: 500px;
  width: 75%;
  position:relative;
  padding: 20px;
  float:right;
}

#newsubscriptionbutton {
  position: absolute;
  bottom: 80px;
  width: 20%;
  text-align: center;
  display: inline;
}

.feedtileparent {
  width: 140px;
  height: 160px;
  margin: 0px;
  text-align: center;
  float: left;
}

.feedtile {
  width: 100px;
  height: 100px;
/*  border: solid #af0000 1px;*/
  margin: 20px;
  margin-top: 0px;  
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.placeholder {
  width: 80px;
  margin: auto;
}

.feedtile img {
  width: 100%;
  margin: auto;
}

.feedtiletext {
  width: 100px;
  font-size: 8px;
}

.feedtileprofile {
  width: 100px;
  height: 100px;
/*  border: solid #af0000 1px;*/
  margin: 20px;
  margin-top: 0px;  
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.feedtileprofile img {
  width: 100%;
  margin: auto;
}

.feedimagebig {
  width: 150px;
  height: 150px;
/*  border-radius: 20px;
  border: solid #af0000 1px;*/
/*  margin: 20px;*/
  margin-top: 0px;  
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  float: left;
  margin-right: 15px;
}

.feedimagebig img {
  width: 100%;
  margin: auto;
}

.placeholderbig {
  width: 150px;
  margin: auto;
}

.feedcontainer {
  overflow: hidden;
}

.feeddetails {
  float: left;
  max-width: 30%;
}

.userssimilar {
  float: right;
}

.feedentries {
  clear: left;
  margin-top: 20px;
}

textarea {
  width: 173px;
  height: 100px;
}

.icon {
  float: right;
  margin-right: 10px;
}

.userfeeds {
  overflow: hidden;
}

.title {
  margin-top: 0;
}

.entrycontent {
  font-size: 12px;
}

.entrycontent img {
  float: left;
  margin: 0 10px 10px 0;
}
