@font-face{
    font-family: 'Cn';
    src: font-url("HelveticaNeueLTPro-Cn.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'HvCn';
    src: font-url("HelveticaNeueLTPro-HvCn.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;
}